* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.objectimage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #005f5c;
    border-radius: 50%;
    padding: 2px;
    margin: 126px 0 15px 0px;
}

.profile-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #005f5c;
    text-decoration: dashed;
    margin-bottom: 33px;
}

.links {
    margin: 0 auto 68px auto;

}

.link {
    color: #005f5c;
    width: 326px;
    height: 49px;
    left: 44px;
    top: 405px;
    list-style: none;
    border: 2px solid #005f5c;
    border-radius: 4px;
    text-align: center;
    margin: auto auto 16px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links a {
    text-decoration: dashed;
    color: #005f5c;
}
.social-links {
    margin-bottom: 60px;
}
.social-links a {
    margin: auto 14px auto 14px;
    fill: none;
    color: transparent;
}